<div>  <table class="tbl">
    <thead>
    <tr>
    <th class="th">Employee Id</th>
    <th class="th">First Name</th>
    <th class="th">Last Name</th>
    <th class="th">Salary</th>
    <th class="th">DOB</th>
    <th class="th">Email</th>
    <th class="th">Action</th>
    </tr>



     <tr><td>{{Employee_ID}}</td><td>{{First_Name}}</td><td>{{Last_Name}}</td><td>{{Salary}}</td><td>{{DOB}}</td><td>{{Email}}</td><td><button (click)="handleClick()">Edit</button></td></tr>
</thead>
</table>
</div>
