<header>
    <div id="brand">
        Developer Funnel
        <button [routerLink]="['/']" class="btn btn-info">Home</button>
    </div>
    <div id="social">
        <a href="">
            <img src="../../assets/images/facebook.png" alt="fblogo" class="socialLogo"/>
        </a>
        <a href="">
            <img src="../../assets/images/insta.png" alt="fblogo" class="socialLogo"/>
        </a>
        <a href="">
            <img src="../../assets/images/youtube1.png" alt="fblogo" class="socialLogo"/>
        </a>
    </div>
</header>