
        div
        {
            text-align:center;
            color:teal
        }
        .subHeading
        {
            text-align:center;
            color:green
        }
        .myimg
        {
            height:100px;
            width: 100px;
        }
