<!-- <p>{{currentDate | date:'dd MMM, yyyy'}}</p>
<p>{{price| firstPipe | currency:'GBP'}}</p>
<p>{{myData | json}}</p> -->

<div id="search">
    <div id="logo">
        <span>D!</span>
    </div>
    <div id="heading">
        {{title}}
    </div>
    <div id="dropdown">
        <select>
            <option>----Select Your City----</option>
<option *ngFor="let loc of cities">{{loc.state | MyCustomePipe:'Upper'}}</option>

        </select>
        <select class="restSelect">
            <option>----Select Your Restaurants----</option>
        </select>
    </div>

</div>